/* unvisited link */
a:link,
page-link {
    color: #488888;
    text-decoration: none;
}

/* visited link */
a:visited,
page-link {
    color: #488888;
    text-decoration: none;
    
}

/* mouse over link */
a:hover,
page-link {
    color: #488888;
    text-decoration: none;
}

/* selected link */
a:active,
page-link {
    color: #488888;
    text-decoration: none;
}

p {
  text-align: justify;
}

.big-books {
    max-width: 10rem;
}

.blurb {
    font-style: italic;
    margin-bottom: 0;
}

.subtitle {
    text-align: center;
    margin-bottom: 0;
    font-size: .9rem;
    margin-top: .5rem;
}

.wrapper {
    padding: 0;
}

h1, .navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.portrait {
    float: left;
    padding-right: 1rem;
    max-width: 15rem;
}