/* unvisited link */
a:link,
page-link {
    color: #484848;
}

/* visited link */
a:visited,
page-link {
    color: #484848;
    text-decoration: none;
    
}

/* mouse over link */
a:hover,
page-link {
    color: #787878;
    text-decoration: none;
}

/* selected link */
a:active,
page-link {
    color: #787878;
}

p {
  text-align: center;
}